<<<<<<< HEAD
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.gnb {
    /* position: relative; */
    margin-left: 115px;
    padding: 0;
    height: auto;
}

.gloval.on,
.gloval02.on {
    height: auto;
}

nav {
    position: relative;
    top: 0;
    padding: 0 30px;
}

nav .login_start {
    width: auto;
}

.hamburger {
    display: block;
    margin-left: 30px;
    border: 0;
    min-width: 40px;
    min-height: 45px;
    background: url(/Woo_ang/w_images/01minecraft/hamburger-icon.png) no-repeat 50% 50% / cover;
    z-index: 1;
}

.hamburger.on {
    display: block;
    margin-left: 2px;
    margin-top: 1px;
    border: 0;
    min-width: 37px;
    min-height: 42px;
    background: url(/Woo_ang/w_images/01minecraft/hamburger-closeicon.png) no-repeat 50% 22% / cover;
    z-index: 1;
}

.gnbfamily {
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    padding: 30px 0 0 35px;
    transition: all 0.5s;
}

.gnbfamily li {
    display: none;
}

.gnbfamily.on {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    top: 100%;
    width: 100vw;
    height: 100vh;
    background: #0E0E0E;
    z-index: 20;
    transition: all 0.5s;
}

.gnbfamily.on li {
    display: flex;
}

.gnbfamily.on li:nth-of-type(1) {
    margin-top: 14px;
}

.gnbfamily.on li:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.gnbfamily li .sub {
    background: none;
    box-shadow: none;
    height: 0;
    width: 260px;
    position: unset;
}

.gnbfamily li:hover .sub{
    height: 211px;
}

.gnbfamily li .sub.on {
    height: 211px;
}

.swiper.main_image {
    width: 70%;
    max-width: 1023px;
    height: 400px;
}

.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 30px;
}

.swiper-button-prev {
    left: 20%;
}

.swiper-button-next {
    right: 20%;
}

.out .slide_image {
    width: 100%;
    z-index: 10;
}

.newgame_inner {
    flex-direction: column;
    height: auto;
    margin: 50px 0;
}

.newgame_inner .img-wrap {
    margin-bottom: 55px;
}

.newgame_box {
    align-items: center;
}

.newgame_box > div { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newgame_box .text {
    align-items: center;
}

.community > div {
    flex-direction: column;
    align-items: center;
}

.pick, .hot {
    width: 100%;
    max-width: 575px;
    gap: 20px;
}

.hot .image_wrap {
    max-width: 450px;
    flex-wrap: wrap;
}

/*  */
.box01>div {
    gap: 40px;
}

.box02-1,
.box02-2,
.box02-3{
    max-width: 540px;
    flex-wrap: wrap;
}

.box02-1 {
    max-width: 540px;
    margin: 0 0 22px 0;
}

.box02-1 div >img {
    padding: 5px 5px;
}

.box02-1 div:last-of-type{
    padding: 0;
}

.box02-2 {
    display: flex;
    justify-content: center;
    max-width: 540px;
    gap: 22px;
}

.box02-2 div {
    width: 140px;
}

.box02-3 {
    margin-left: 0;
}

.login_start button {
    display: none;
}

.gnb {
    margin: 0;
}

.box03 {
    height: auto;
    flex-direction: column;
    padding: 30px 10px;
    gap: 30px;
}

.box03-2 a {
    font-size: 16px;
=======
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.gnb {
    /* position: relative; */
    margin-left: 115px;
    padding: 0;
    height: auto;
}

.gloval.on,
.gloval02.on {
    height: auto;
}

nav {
    position: relative;
    top: 0;
    padding: 0 30px;
}

nav .login_start {
    width: auto;
}

.hamburger {
    display: block;
    margin-left: 30px;
    border: 0;
    min-width: 40px;
    min-height: 45px;
    background: url(/Woo_ang/w_images/01minecraft/hamburger-icon.png) no-repeat 50% 50% / cover;
    z-index: 1;
}

.hamburger.on {
    display: block;
    margin-left: 2px;
    margin-top: 1px;
    border: 0;
    min-width: 37px;
    min-height: 42px;
    background: url(/Woo_ang/w_images/01minecraft/hamburger-closeicon.png) no-repeat 50% 22% / cover;
    z-index: 1;
}

.gnbfamily {
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    padding: 30px 0 0 35px;
    transition: all 0.5s;
}

.gnbfamily li {
    display: none;
}

.gnbfamily.on {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    top: 100%;
    width: 100vw;
    height: 100vh;
    background: #0E0E0E;
    z-index: 20;
    transition: all 0.5s;
}

.gnbfamily.on li {
    display: flex;
}

.gnbfamily.on li:nth-of-type(1) {
    margin-top: 14px;
}

.gnbfamily.on li:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: start;
}


.gnbfamily li .sub {
    background: none;
    box-shadow: none;
    height: 0;
    width: 260px;
    position: unset;
}

.gnbfamily li:hover .sub{
    height: 211px;
}

.gnbfamily li .sub.on {
    height: 211px;
}

.swiper.main_image {
    width: 70%;
    max-width: 1023px;
    height: 400px;
}

.button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 30px;
}

.swiper-button-prev {
    left: 20%;
}

.swiper-button-next {
    right: 20%;
}

.out .slide_image {
    width: 100%;
    z-index: 10;
}

.newgame_inner {
    flex-direction: column;
    height: auto;
    margin: 50px 0;
}

.newgame_inner .img-wrap {
    margin-bottom: 55px;
}

.newgame_box {
    align-items: center;
}

.newgame_box > div { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newgame_box .text {
    align-items: center;
}

.community > div {
    flex-direction: column;
    align-items: center;
}

.pick, .hot {
    width: 100%;
    max-width: 575px;
    gap: 20px;
}

.hot .image_wrap {
    max-width: 450px;
    flex-wrap: wrap;
}

/*  */
.box01>div {
    gap: 40px;
}

.box02-1,
.box02-2,
.box02-3{
    max-width: 540px;
    flex-wrap: wrap;
}

.box02-1 {
    max-width: 540px;
    margin: 0 0 22px 0;
}

.box02-1 div >img {
    padding: 5px 5px;
}

.box02-1 div:last-of-type{
    padding: 0;
}

.box02-2 {
    display: flex;
    justify-content: center;
    max-width: 540px;
    gap: 22px;
}

.box02-2 div {
    width: 140px;
}

.box02-3 {
    margin-left: 0;
}

.login_start button {
    display: none;
}

.gnb {
    margin: 0;
}

.box03 {
    height: auto;
    flex-direction: column;
    padding: 30px 10px;
    gap: 30px;
}

.box03-2 a {
    font-size: 16px;
>>>>>>> 4825fc604952e9db9288ce656ffdeaf8a59a8e7a
}