@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */
/* Noto Sans KR 폰트 */
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
/* 나눔스퀘어 */
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');
/* @import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css'); */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: keep-all;
    font-family: 'NanumSquare', sans-serif;
    /* outline: 1px solid green; */
}

.scrollTopbt {
    display: none;
    position: absolute;
    align-items: center;
    right: 0;
    bottom: 100%;
    transition: all 0.5s;
    border: none;
    width: 50px;
    height: 50px;
    background: url(/Woo_ang/w_images/01minecraft/scrollTopbt.png) no-repeat 50% 50% / 35px 35px;
}

.scrollTopbt.on {
    display: flex;
}

.scrollTopbt:hover {
    border: 2px solid var(--colorWhite);
}

:root {
    --colorWhite: rgb(255, 255, 255);
    --colorBlack: #07080A;
    --color1: rgba(23, 22, 21, 1);
    --color1-1: rgba(42, 40, 38, 1);
    --color1-2: rgba(74, 74, 74, 1);
    --color2: rgba(59, 133, 38, 1);
    --color3: rgba(107, 195, 73, 1);
}

article {
    width: 100%;
}

.inner {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 17px;
    background: var(--colorBlack);
}

.inner-up {
    height: 125px;
    width: 100%;
    background: url(/Woo_ang/w_images/01minecraft/배경위.png) repeat;
}
.inner-down {
    height: 120px;
    width: 100%;
    background: url(/Woo_ang/w_images/01minecraft/배경아래.png) repeat;
}

section {
    flex-direction: column;
}

header {
    flex-direction: column;
}

footer {
    flex-direction: column;
}

li {
    list-style: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:active {
    color: #6BC349;
}

a:hover {
    color: #6BC349;
}

a:link,
a:visited {
    text-decoration: none;
}

h5 {
    font-size: 15px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.Languages,
.Languages02 {
    background: transparent;
    border: none;
    color: #fff
}

.h1-1>.Languages {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Languages02 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Languages i {
    font-size: 25px;
}

.Languages02 i {
    font-size: 25px;
}

/* 게임 나브부분 */
.h1-1 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 15px;
    gap: 50px;
    background: #0E0E0E;
}

.h1-1 a:link {
    color: var(--color2);
}

.h1-1 a:visited {
    color: var(--color2);
}

.h1-1 a:active {
    color: var(--colorWhite);
}

.h1-1 a:hover {
    color: var(--colorWhite);
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    background: var(--color1);
}

.gnb {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 30px;
}

.gnbfamily {
    display: flex;
    width: 480px;
    height: 100%;
    gap: 35px;
    align-items: center;
    justify-content: center;
    left: 0;
}

.gnbfamily li button {
    border: 0;
    color: #fff;
    background-color: transparent;
    font-size: 17px;
}

.gnbfamily li button:hover {
    color: var(--color3);
}

.gnbfamily li .sub {
    position: absolute;
    z-index: 2;
    text-align: start;
    background: var(--color1-1);
    transition: all 0.2s;
    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.3);
    height: 0;
    overflow: hidden;
}

.gnbfamily .sub li {
    width: 100%;
    height: auto;
    padding: 15px;
}

.gnbfamily .sub li:hover {
    background: rgba(255, 255, 255, 0.15);
}

.gnbfamily li:hover>a {
    color: #6BC349;
}

.gnbfamily li:hover .sub {
    height: 196px;
    width: 260px;
    transition: all 0.4s;
}

.logo {
    display: flex;
    justify-content: center;
}

nav .login_start {
    width: 480px;
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    padding: 0px 30px 0px 0px;
}

.start {
    display: flex;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 400;
}

.gnb ul button {
    display: inline-block;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
}

.gnb li>button>i {
    position: relative;
    top: 3px;
}

.login_start {
    display: flex;
    justify-content: end;
    align-items: center;
}

.login_start button {
    background: var(--color2);
    width: 124px;
    height: 44px;
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
    transition: all 0.1s;
}

.login_start button:hover {
    background: var(--color1-1);
    width: 124px;
    height: 44px;
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
    border: 2px solid var(--colorWhite);
    transition: all 0.2s;
}

/*  푸터 */
footer .inner {
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    color: var(--colorWhite);
}

footer>h3 {
    font-size: 15px;
}

.footer-a>a {
    font-size: 15px;
}

footer>.box02 a:link {
    color: #6BC349;
}

footer>.box02 a:visited {
    color: #6BC349
}

footer>.box02 a:active {
    color: #fff
}

footer>.box02 a:hover {
    color: #fff;
}

.footer-a {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box01 {
    height: 140px;
    flex-direction: column;
    padding: 20px 0;
    gap: 15px;
}

.box01>div {
    display: flex;
    gap: 55px;
}

.box01 :last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box01 :nth-child(2) i {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    width: 33px;
    height: 33px;
    color: #fff;
}

.box02 {
    align-items: flex-start;
    padding: 60px 100px 0px 100px;
    background: var(--color1);
}

.box02-1 {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 40px 0 0;
    font-size: 15px;
}

.box02-1 div >img {padding: 0 5px;}
.box02-1 div {gap: 5px;}

.box02-1  div:last-of-type {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 0;
}

.box02-1 div:last-of-type div {
    display: flex;
    flex-direction: row;
}

.box02-2 {
    display: flex;
    gap: 40px;
    padding: 0 0 30px 0;
}

.box02-2>div h3 {
    margin: 10px 0 10px 0;
}

.box02-3 {
    /* width: 100%; */
    margin: 0 0 20px 40px;
}


.box03 {
    display: flex;
    /* position: relative; */
    width: 100%;
    height: 100px;
    gap: 150px;
    color: #fff;
    background: #0E0E0E
}

.box03 :nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.box03-2 {
    display: flex;
    gap: 20px;
}

.gnb ul .도착 {
    display: block;
}

.gnb ul .출발 {
    display: block;
}

.gnb ul .도착.on {
    background: #6BC349;
    width: 100px;
}

.gnb ul .출발.on {
    background: #6BC349;
}

.gloval,
.gloval02 {
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    justify-content: center;
    background: var(--color1-2);
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.gloval.on {
    height: 140px;
}

.gloval02.on {
    height: 140px;
}

.Languages:hover {
    color: #6BC349;
}

.Languages:hover .gloval {
    display: flex;
}

.Languages02:hover {
    color: #6BC349;
}

.Languages02:hover .gloval {
    display: flex;
}

.gloval ul {
    width: 850px;
    height: auto;
    gap: 5px;
    padding: 0 50px 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 20px 0;
}

.gloval02 ul {
    width: 850px;
    height: auto;
    gap: 5px;
    padding: 0 50px 0 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin: 20px 0;
}

.gloval li {
    gap: 5px;
    width: 100px;
    height: 21px;
}

.gloval02 li {
    gap: 5px;
    width: 100px;
    height: 21px;
}

/* 섹션시작, 슬라이드01 */
.swiper.main_image {
    width: 1000px;
    height: 600px;
}

.main_image01{
    width: 100%;
    height: 100%;
    background: url(/Woo_ang/w_images/01minecraft/Frame573.png) no-repeat 50% 50% / cover;
}
.main_image02{
    width: 100%;
    height: 100%;
    background: url(/Woo_ang/w_images/01minecraft/Frame574.png) no-repeat 50% 50% / cover;
}
.main_image03{
    width: 100%;
    height: 100%;
    background: url(/Woo_ang/w_images/01minecraft/Mpaire.png) no-repeat 50% 50% / cover;
}

.main_image .swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.swiper-wrapper.in div {
    width: 100%;
    height: 70%;
}

.slide-img {margin-top: 55px;}

.swiper-wrapper.in .slide-img.s01 {
    background: url(/Woo_ang/w_images/01minecraft/slide01.jpg) no-repeat 71% 50% / cover;
}
.swiper-wrapper.in .slide-img.s02 {
    background: url(/Woo_ang/w_images/01minecraft/slide02.png) no-repeat 50% 50% / cover;
}
.swiper-wrapper.in .slide-img.s03 {
    background: url(/Woo_ang/w_images/01minecraft/slide03.png) no-repeat 50% 50% / cover;
}
.swiper-wrapper.in .slide-img.s04 {
    background: url(/Woo_ang/w_images/01minecraft/slide04.png) no-repeat 50% 50% / cover;
}
.swiper-wrapper.in .slide-img.s05 {
    background: url(/Woo_ang/w_images/01minecraft/silde05.jpg) no-repeat 50% 50% / cover;
}
.swiper-wrapper.in .slide-img.s06 {
    background: url(/Woo_ang/w_images/01minecraft/slide06.png) no-repeat 50% 50% / cover;
}
.swiper-wrapper.in .slide-img.s07 {
    background: url(/Woo_ang/w_images/01minecraft/slide05.webp) no-repeat 25% 50% / cover;
}
  
.image-overlay::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient(90deg, var(--colorBlack) 1%, rgba(0, 0, 0, 0) 5%), 
linear-gradient(270deg, var(--colorBlack) 1%, rgba(0, 0, 0, 0) 5%), 
linear-gradient(0deg, var(--colorBlack) 7.24%, rgba(0, 0, 0, 0) 31.12%);
}

/* bullet */
.main_image span {
    width: 12px;
    height: 12px;
    background: #6BC349;
    border-radius: 0%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 20px 10px;}

/* button */
.out > .swiper-button-next::after {
    display: none;
}

.out > .swiper-button-next {
    background: url(/Woo_ang/w_images/01minecraft/버튼_초록우.png) no-repeat 50% 50% / 54px 54px;
    width: 54px;
    height: 54px;
}
.out > .swiper-button-next:hover {
    background: url(/Woo_ang/w_images/01minecraft/버튼_검정우.png) no-repeat 50% 50% / 44px 44px;
    border: 2px solid var(--colorWhite);
    transition: all 0.2s;
}

.out > .swiper-button-prev::after {
    display: none;
}

.out > .swiper-button-prev {
    background: url(/Woo_ang/w_images/01minecraft/버튼_초록좌.png)no-repeat 50% 50% / 54px 54px;
    width: 54px;
    height: 54px;
}
.out > .swiper-button-prev:hover {
    background: url(/Woo_ang/w_images/01minecraft/버튼_검정좌.png) no-repeat 50% 50% / 44px 44px;
    border: 2px solid var(--colorWhite);
    transition: all 0.2s;

}


/* 슬라이드02 */
.innerblack {
    width: 100%;
    height: auto;
    padding: 10px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(/Woo_ang/w_images/01minecraft//검정배경_ㄲ.png);
}


.button_wrapper {
    position: relative;
    width: 1175px;
    height: auto;
    padding: 20px;
    gap: 30px;
}

.button_wrapper h2 {color: var(--colorWhite);}

/* out */
.out { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.out .slide_image {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 550px;
    align-items: center;
    justify-content: center;
}

.out .slide_image h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 100px;
    position: absolute;
    top:6%;
}

/* in */
.in {
    display: flex;
    align-items: center;
}

.in .swiper-slide{
    height: 323px;
}

.in .swiper-slide div {
    padding: 15px;
    color: var(--colorWhite);
}

.in .swiper-slide div h3 {
    font-size: 20px;
    font-weight: 600;
}

.in .swiper-slide div  p { 
    color: rgba(133, 133, 133, 1);
    line-height: 30px;
}

.in .swiper-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--colorWhite);
}

/* 스크롤바색 */
.button_wrapper .swiper-pagination {
    width: 100%;
    height: 4px;
    background-color: rgba(104, 104, 104, 1);
    top: 99%;
}

/* 스크롤바색 */
.button_wrapper .swiper-pagination-progressbar-fill { 
    width: 100%;
    height: 100%;
    --swiper-theme-color: var(--color3);
    transition-duration: 300ms;
}

/* 슬라이드02 이미지, 텍스트 */
.in .swiper-slide.swiper-slide h3 {opacity: 0.3; transition: all 0.5s;}
.in .swiper-slide.swiper-slide-active h3 {opacity: 1;}

.in .swiper-slide.swiper-slide p {opacity: 0.3; transition: all 0.5s;}
.in .swiper-slide.swiper-slide-active p {opacity: 1;}

.in .swiper-slide.swiper-slide .slide-img {opacity: 0.5; transition: all 0.5s;}
.in .swiper-slide.swiper-slide-active .slide-img {opacity: 1;}


/* 새로운소식 */
.newgame {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    background: url(/Woo_ang/w_images/01minecraft/배경흰색-수정.png);
}

.newgame_inner {
    display: flex;
    width: 100%;
    max-width: 1000px; 
    height: 650px; 
    align-items: center;
    justify-content: space-between;
}

.newgame_inner .img-wrap {
    width: 100%;
    max-width: 340px;
    height: 480px;
    overflow: hidden;
    background: url(/Woo_ang/w_images/01minecraft/MinecraftDungeons.jpg) no-repeat 50% 50% / cover;
}

.newgame_box {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
    height: auto;
    gap: 35px;
}

.title {gap: 5px;}

.newgame_box > div:nth-of-type(2) {
    gap: 25px;
 }

.newgame_box > div { 
    display: flex;
    flex-direction: column;
    align-items: start;
}

.newgame_box > div > span {
    font-size: 30px;
    font-weight: 300;
}

.newgame_box .title span {
    display: flex;
    align-items: center;
    padding: 6px 25px 3px 25px;
    font-size: 17px;
    font-weight: 600;
    background: var(--color2);
    color: var(--colorWhite);
}

.newgame_box .title h2{
    font-size: 42px;
    font-weight: 800;
    color: var(--colorBlack);
}

.newgame_box span, .newgame_box a {
    font-size: 17px;
    color: var(--color2);
    font-weight: 600;
}

.newgame_box:hover a {color: var(--color3);}
.newgame_box:hover .var {background: var(--color3);}

.var {
    width: 100%; 
    height: 2px; 
    background: var(--color2);
    margin-top: 3px;
}

.newgame_box .text { 
    display: flex;
    flex-direction: column;
    align-items: start;
}

.newgame_box .text p {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.7;
    color: var(--color1-2); 
}

.image {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.image div{ 
    width: 185px; 
    height: 100px;
    cursor: pointer;
}

/* 팝업 이미지 */
/* .image01 {background: url(/woo_ang/w_images/01minecraft/Mpaire01.png) no-repeat 50% 50%/ cover;} */
.image01 {background: url(https://github.com/sweauxui/Woo_ang/assets/125528967/80ef52db-c414-43a6-ae61-20b86d6f6fe3) no-repeat 50% 50%/ cover;}
/* .image02 {background: url(/woo_ang/w_images/01minecraft/Mpaire02.png) no-repeat 50% 50%/ cover;} */
.image02 {background: url(https://github.com/sweauxui/Woo_ang/assets/125528967/5998617a-11f1-4a0e-aa81-b5a1a1704d0f) no-repeat 50% 50%/ cover;}
/* .image03 {background: url(/woo_ang/w_images/01minecraft/Mpaire03.png) no-repeat 50% 50%/ cover;} */
.image03 {background: url(https://github.com/sweauxui/Woo_ang/assets/125528967/546b11d2-b1f0-469f-b8e5-90c65a01a6bc) no-repeat 50% 50%/ cover;}

.popup-image01 {
    width: 100%;
    height: 350px;
    background: url(/woo_ang/w_images/01minecraft/Mpaire01.png) 
    no-repeat 50% 50%/ cover;
}
.popup-image02 {
    width: 100%;
    height: 350px;
    background: url(/woo_ang/w_images/01minecraft/Mpaire02.png) no-repeat 50% 50%/ cover;
}
.popup-image03 {
    width: 100%;
    height: 350px;
    background: url(/woo_ang/w_images/01minecraft/Mpaire03.png) no-repeat 50% 50%/ cover;
}


.modal-btn-box button{
  display:inline-block;
  width:150px;
  height:50px;
  background-color:#ffffff;
  border:1px solid #e1e1e1;
  cursor:pointer;
  padding-top:8px;
}

.popup-wrap{
  background-color:rgba(0,0,0,.8);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  padding:15px;
  z-index: 100;
}

.popup{
    width:600px;
    /* background-color:#ffffff; */
    /* border-radius:10px; */
    overflow:hidden;
  }

.pop-btn{
  display:inline-flex;
  width:50%;
  height:100%;
 
  position: absolute;
    top: -40%;
    right: -5%;
  

  justify-content:center;
  align-items:center;
  color:#ffffff;
  cursor:pointer;
}


/* 게임정보 */
.game_information { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 680px;
}

.game_information_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 1200px;
    height: 600px;
}

.wrapper01 {
    display: flex;
    padding: 25px 25px 5px;
    gap: 10px;
}
.wrapper02 {
    display: flex;
    padding: 5px 25px 25px;
    gap: 10px;
}

.game_information_box { 
    width: 565px;
    height: 250px;
    background: #fff;
}

/* 커뮤니티 */
.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: auto;
    gap: 30px;
    /* background: url(/Woo_ang/w_images/01minecraft//검정배경_ㄲ.png); */
}

.community a {color: var(--color2);}
.community a:hover { color: var(--color3);} 
.community a:hover .var { background: var(--color3);} 

.community .title{
    display: flex;  
    flex-direction: column;
    color: var(--colorWhite);
    gap: 10px;
}

.community .title h2 {
    font-size: 42px;
    font-weight: 700;
}
.community .title p {
    font-size: 18px;
    color: var(--color1-2);
    font-weight: 600;
}

.community > div {
    display: flex;
    width: 100%;
    gap: 13px;
}
.community > div h2 {
    font-size: 24px;
    color: var(--colorWhite);}


.pick, .hot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    width: 100%;
    gap: 20px;
    background: rgb(255, 255, 255, 0.1);
}

.pick a .var {
    width: 100%;
}

.pick .text p:nth-of-type(1) {
    color: var(--colorWhite);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 6px;
}

.pick .text p:nth-of-type(2){
    font-size: 17px;
    font-weight: 500;
    color:rgba(133, 133, 133, 1);
}

.pick .image_wrap img {
    width: 320px;
    height: 320px;
    background: url(/Woo_ang/w_images/01minecraft/GMpick02.png) no-repeat 50% 50%/ cover;
    cursor: pointer;
}

.hot .image_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 450px ;
    gap: 15px;
}

.hot .image_wrap img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.hot .image_wrap img:nth-of-type(1) {background: url(/Woo_ang/w_images/01minecraft/GMpick.png) no-repeat 50% 50%/ cover;}
.hot .image_wrap img:nth-of-type(2) {background: url(/Woo_ang/w_images/01minecraft/userhot.png) no-repeat 50% 50%/ cover;}
.hot .image_wrap img:nth-of-type(3) {background: url(/Woo_ang/w_images/01minecraft/userhot02.png) no-repeat 50% 50%/ cover;}
.hot .image_wrap img:nth-of-type(4) {background: url(/Woo_ang/w_images/01minecraft/userhot03.png) no-repeat 50% 50%/ cover;}