@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css');
/* @import url('https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css'); */

* {
    box-sizing: border-box;
    padding: 0;
    word-break: keep-all;
    /* outline: 1px solid darkgreen; */
    /* background:rgba(208, 197, 192, 1) ; */
}

.departure.on,
.arrival.on {
    width: 0;
    height: 0;
    overflow: hidden;
}

li {
    list-style: none;
}

h2 {
    font-size: 1.875rem;
}

p {
    font-size: 0.9375rem;
}

a:link,
a:visited {
    text-decoration: none;
    color: rgba(59, 133, 38, 0.719);
    font-weight: bold;
}

/* 캡션 숨기기 */
caption {
    display: none;
}

.inner {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: rgba(208, 197, 192, 1);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.arrival,
.departure {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.arrival01,
.arrival02 {
    width: 1200px;
}

.arrival01.on, .arrival02.on {
    width: 0;
    height: 0;
    overflow: hidden;
}
.departure01.on, .departure02.on {
    width: 0;
    height: 0;
    overflow: hidden;
}

.mainimg div {
    width: auto;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 30px;
    gap: 10px;
    border-radius: 5px;
}

.mainimg div h2,
.mainimg div p {
    margin: 0;
}

.mainimg {
    width: 100%;
    height: 200px;
    background: url(/Woo_ang/w_images/02airplane/메인사진_임시.avif) no-repeat 50% 50%/ cover, rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shc ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding: 0px 0px 20px 0;
}

.shc ul li {
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background: rgba(90, 102, 163, 1);
}

.shc ul li:hover {
    background: rgba(55, 76, 186, 1);
}


.shc p {
    border-bottom: 2px solid rgba(0, 0, 0, 1);
    padding: 0px 0px 20px;
    margin-top: 0;
}

.select_option01 {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.select_option01 select,
.select_option01 span,
.select_option01 button {
    margin: 0;
}

.select_option01 select {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.select_option01 span {
    font-size: 1.5625rem;
}

.arrival_schedule,
.departure_schedule {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.select_option01 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.select_option01 div,
select {
    justify-content: flex-start;
    margin: 0;
}

.arrival01_tb table,
.arrival02_tb table {
    width: 100%;
    background: white;
}

/* arrival01, 02 나눠먹기*/
.arrival01_tb thead > tr {
    display: flex;
}
.arrival01_tb thead > tr > th {
    flex: 1;
}

.departure01_tb thead > tr {
    display: flex;
}
.departure01_tb thead > tr > th {
    flex: 1;
}

/* 티알로 인식 */
tbody > tr {
    display: flex;
}

tbody > tr > td {
    flex: 1;
    padding: 5px 0 ;
    border-top: 2px solid white;
}

/* arrival01 */
.news01_atb {
    flex: 0 0 116px ;
}


/* arrival02 */
.flightid, .terminalid {
    flex: 0 0 110px;
    width: 110px;
}

.airline, .scheduleDateTime, .airport {
    width: 166px;
}

.week {
    width: 280px;
}

.week_sub {
    display: flex;
    flex: 0 0 280px;
}

/* 티디로 인식 */
.week_sub > div {
    flex: 1 1 14%;
    width: 14%;
    justify-content: center;
}

/* td.div 온오프*/
td.week_sub > div {
    position: relative;
    background-color: transparent;
    color: transparent;
}

.week_sub div:nth-of-type(6) i, .week_sub div:nth-of-type(7) i {
    color: rgb(43, 63, 161);
}

td.week_sub > div.off {
    background: transparent;
}


.flight {
    flex: 0 0 226px;
    width: 226px;
}

.date {
    flex: 0 0 200px;
    width: 200px;
}

.bodydate {
    flex: 0 0 180px;
}

.fa-plane-departure {
    color: rgba(59, 133, 38, 0.719);
    position: absolute;
    left: 8px;
    top: 4px
}

.departure01,
.departure02 {
    width: 1200px
}

.departure01_tb table,
.departure02 table {
    width: 100%;
}

/* 꾸미기 */
/* 전체적인 배경색 및 폰트색*/
.shc {
    background: rgb(255, 255, 255);
}

.arrival01,
.departure {
    background: rgb(255, 255, 255);
}

thead {
    background: rgba(50, 54, 85, 1);
    color: rgb(233, 233, 233);
}


tbody {
    background: rgb(242, 242, 242);
    color: rgba(59, 133, 38, 0.719);
}


.arrival01_tb thead > tr > th {
    text-align: center;
    border-right: 2px solid rgba(255, 255, 255);
}

/* 항공사, 운항편명 */
.arrival01_tb thead > tr > th:nth-of-type(3) {
    flex: 0 0 170px;
}
.airline01_atb{
    flex: 0 0 170px;
    width: 170px;
}

/* 도착현황,출발현황 */
.arrival01_tb thead > tr > th:nth-of-type(8) {
    flex: 0 0 149px;
}
.remark01_atb {
    flex: 0 0 132px;
    width: 132px;}

    .departure01_tb thead > tr > th:nth-of-type(7) {
        flex: 0 0 149px;
    }
    .remark01_dtb {
        flex: 0 0 132px;
        width: 132px;}

.departure01_tb thead > tr > th {
    text-align: center;
    border-right: 2px solid rgba(255, 255, 255);
}

.arrival01_tb tbody > tr > td {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

tbody > tr > td {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-right: 2px solid rgba(208, 197, 192, 1);
}

.arrival01_tb tbody > tr > td:nth-of-type(9) {
    border: none;
}
.departure01_tb tbody > tr > td:nth-of-type(8) {
    border: none;
}

.arrival02 tbody > tr > td:nth-of-type(7) {
    border: none;
}
.departure02 tbody > tr > td:nth-of-type(7) {
    border: none;
}

/* 간격 및 마진, 패딩, 보더라인 */
header {
    width: 1200px;
    position: relative;
    background: rgb(255, 255, 255, 0.5);
}

.select_option01 {
    background: rgb(255, 255, 255);
}

header > div {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 0;
}

header > div > h1 {
    width: auto;
    position: relative;
    margin: 0 auto;
    color: rgb(43, 63, 161);
}

header > div > a {
    width: auto;
    margin: 0;
    padding: 0 15px 0 0;
    position: absolute;
}

.gnb {
    gap: 100px;
    margin: 0 0 15px 0;
    border-bottom: 2px solid white;
}

.gnb ul {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding: 15px 0;
    justify-content: center;
    text-align: center;
}

.gnb ul li {
    display: flex;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.gnb ul li:hover {
    background: rgba(90, 102, 163, 1);
    border-radius: 50px;
    transition: all 0.5s;
}

.gnb ul li:hover a {
    color: white;
    transition: all 0.3s;
}

/*  탭 변화 인식 도착,출발 */
.gnb ul .도착 a, .gnb ul .출발 a {color: rgba(59, 133, 38, 0.719);}
.gnb ul .도착 a.on, .gnb ul .출발 a.on {color: white;}

.gnb ul .도착.on, .gnb ul .출발.on {
    background: rgb(43, 63, 161);
    border-radius: 50px;
}

/* 탭 변화 인식 운항편 */
.shc .도착시간표, .shc .도착정기운항편 {background: rgba(90, 102, 163, 1);}
.shc .도착시간표.on, .shc .도착정기운항편.on { background: rgb(43, 63, 161); }
.shc .출발시간표, .shc .출발정기운항편 {background: rgba(90, 102, 163, 1);}
.shc .출발시간표.on, .shc .출발정기운항편.on { background: rgb(43, 63, 161); }


.week_sub > div {
    background: rgba(90, 102, 163, 1);
    border-right: 2px solid rgba(208, 197, 192, 1);
}

.week_sub div:nth-of-type(7) {
    border: none;
}

.container {
    max-height: 375px;
    overflow-y: scroll;
    overflow-x: auto;
}

