@charset "utf-8";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */
/* Noto Sans KR 폰트 */
@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
/* 나눔스퀘어 */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-break: break-all;
    /* font-family: 'NanumSquare', sans-serif; */
    font-family: 'gg sans', sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    /* font-family: 'GmarketSans'; */
    /* outline: 1px solid green; */
}

li {
    list-style: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

/* a:active {
    color: #6BC349;
}

a:hover {
    color: #6BC349;
} */

a:link,
a:visited {
    text-decoration: none;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin: auto 0;
    width: 100%;
    margin: 48px 0;
}

.inner.A {
    margin-top: 0;
}

.swiper.main-slide {
    padding: 3px 3px 64px 3px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    line-height: 1.5;
    background: #F2F2F2;
}

.swiper-wrapper {
    max-width: 1920px;
}

.swiper-slide img {
    vertical-align: middle;
    width: 50%;
    float: left;
    height: 100%;
    max-height: 600px;
    max-height: 600px;
}

.swiper-text {
    padding: 48px;
    margin: 0 48px;
    animation: fade 1.5s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.swiper-slide h1{
    font-size: 29px;
    margin-bottom: 16px;
}

.swiper-slide p {
    margin-bottom: 24px;
}

.swiper-slide span {
    cursor: pointer;
    display: inline-block;
    background: #0067b8;
    color: #fff;
    margin: 8px 0;
    padding: 10px 12px;
    font-weight: 600;
}

.swiper-slide span:hover {
    background: #015da3;
}

.swiper-wrapper {
    display: flex;
}

.swiper-button-wrap {
    display: inline-block;
    position: absolute;
    width: 240px;
    height: auto;
    left: 42%;
    bottom: 0;
}

/* bullet 마진 */
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,20px);
}

/* bullet active 전 색상 */
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: none;
    border: var(--swiper-pagination-bullet, 1px solid #171717);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

/* bullet active 후 색상 */
.swiper-pagination-bullet-active {
    background: #171717;
    border: var(--swiper-pagination-bullet, 1px solid #171717);
}

/* 버튼 크기 */
.swiper-button-next:after, .swiper-button-prev:after {
    color: #171717;
    --swiper-navigation-size: 19px;
    top: 0%;
}

/* bullet 위치 */
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom,10px);
}

.swiper-button-next, .swiper-button-prev {
    height: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 1920px;
    height: auto;
    padding: 0 5%;
    margin: 0 auto;
}

header nav, header nav ul, header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 13px
}

header nav ul div {
    display: flex;
}

header > div {
    gap: 20px;
}

header > div > div {
    margin-top: 1px;
    padding: 16px 8px 10px;
    height: 48px;
}

header > div > div:hover {
    cursor: pointer;
    text-decoration: underline;  
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.menu-ul {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    z-index: 100;
    top: 49px;
    left: 25%;
    max-width: 1230px;
    background: #f5f4f4;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #000000;
}

.menu-ul.on {
    display: flex;
}

.menu-ul > li {
    display: inline-block;
    padding-bottom: 10px;
    vertical-align: top;
}

.menu-ul li > span {
    display: inline-block;
    color: #000;
    font-weight: bolder;
    width: 195px;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.menu-ul > li > ul {
    display: flex;
    flex-direction: column;
    min-width: 64px;
}

.menu-ul > li > ul > li {
    color: #616161;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px 
}

.menu-ul > div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;
    background: #e6e6e6;
}

.menu-ul-arrow {
    display:inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 5px;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotate(45deg);
}

.microsoft-logo {
    display: flex;
    cursor: pointer;
    align-items: start;
    margin-bottom: 2px;
    height: 100%;
    margin-top: 1px;
    width: 137px;
}

.microsoft-logo>img {
    height: 46px;
}

/* 더보기 */
header nav ul li:nth-of-type(8) {
    display: none;
}

header nav ul li a {
    display: inline-block;
    cursor: pointer;
    color: #262626;
    margin-top: 1px;
    padding: 16px 8px 10px;
    height: 48px;
}

header nav ul li a:hover {
    text-decoration: underline;    
}

.Hamburger, .Hamburger-ul {display: none;}

.search, .cart, .login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search img, .cart img {
    width: 18px;
    margin-left: 2px;
}

.login img {
    margin: 4px 9px 0px 9px;
}

/* inner B */

.inner.B nav {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: content-box;
}

.inner.B nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.inner.B nav ul li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 16px 24px;
    box-sizing: border-box;
}

.inner.B nav ul li img {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
}

.inner.B nav ul li a {
    min-width: 1px;
    font-weight: 600;
    color: #0067b8;
    cursor: pointer;
    text-decoration: underline;
}

.inner.C {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: content-box;
}

.inner-C-wrap {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.text {
    padding-top: 16px;
}

.inner-C-wrap > div {
    width: 100%;
    max-width: 380px;
    box-sizing: content-box;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.inner-C-wrap > div img {
    width: 100%;
    height: 100%;
    max-height: 213px; 
}

.inner-C-wrap h2 {
    font-size: 1.8125rem;
    /* 29px */
    margin-bottom: 1rem
    /* 16px */
}

.rink {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rink a {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    color: #0067b8;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.arrow {
    display:inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 5px;
    margin-bottom: 2px;
    border-top: 1px solid #0067b8;
    border-right: 1px solid #0067b8;
    transform: rotate(45deg);
}

.rink > a:hover {
    text-decoration: underline;
    color: #0067b8;
}

.rink > a:hover > .arrow {
    position: relative;
    animation: example1 0.5s forwards;
}

@keyframes example1 {
    0% {
      transform: translateX(0) rotate(45deg);
    }
  
    100% {
      transform: translateX(5px) rotate(45deg);
    }
  }

.arrow-under {
    display:inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 5px;
    border-top: 1px solid #262626;;
    border-right: 1px solid #262626;;
    transform: rotate(135deg);
}

.inner.D {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
}

.inner-D-wrap {
    width: 100%;
    max-width: 1588px;
    position: relative;
    margin: 48px 0;
}

.inner-D-wrap img {
    width: 100%;
    max-height: 600px;
}

.D-wrap-text {
    position: absolute;
    top: 16%;
    left: 0%;
    padding: 48px;
    margin: 0 48px;
    color: #fff;
    width: 100%;
    max-width: 450px;
}

.D-wrap-text h2{
    font-size: 29px;
    margin-bottom: 16px;
}

.D-wrap-text p {
    margin-bottom: 24px;
}

.D-wrap-text span {
    cursor: pointer;
    display: inline-block;
    background: #0067b8;
    color: #fff;
    margin: 8px 0;
    padding: 10px 12px;
    font-weight: 600;
}

.D-wrap-text span:hover {
    background: #015da3;
}

.inner.E {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: content-box;
}

.inner-E-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.inner-E-wrap > div > h2 {
    font-size: 2.3125rem;
    margin-bottom: 1rem;
    padding-left: 0.75rem;
}

.inner-E-wrap > div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
}

.inner-E-wrap > div > div {
    width: 100%;
    max-width: 380px;
    box-sizing: content-box;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.inner-E-wrap img {
    width: 100%;
}

.inner.F {
    padding-right: 5%;
    padding-left: 5%;
    width: 90%;
    box-sizing: content-box;
}

.inner-F-wrap {
    display: block;
    width: 100%;
    float: left;
    padding: 0 12px;
}

.inner-F-wrap img {
    width: 21px;
    height: 21px;
}

.inner-F-wrap > div span {
    margin-right: 20px;
}

footer {
    background: #F2F2F2;
    color: #616161;
    word-break: break-word;
}

.inner.G {
    margin-bottom: 0;
} 

footer h5 {
    padding: 36px 0 4px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

footer nav ul, footer nav ul li  {
    cursor: pointer;
    padding: 8px 0;
    font-size: 11px;
    line-height: 16px;
}

footer nav ul li:hover {
    text-decoration: underline;
}

footer nav {
    display: flex;  
    flex-direction: row;
    width: 100%;
    padding: 0 5%; 
}

.nav01, .nav02  {
    display: flex;
    margin: 0 auto;
    width: 100%;
    min-width: 320px;
}

.nav01 div, .nav02 div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 12px;
}

.nav01 div:nth-of-type(1),
.nav02 div:nth-of-type(1) {
    padding-left: 0;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px 5% 16px;
    font-size: 11px;
}

.footer-div > div {
    display: flex;
    flex-direction: row;
}

.footer-div div a, .footer-div div span {
    padding-right: 24px;
    cursor: pointer;
}

.footer-div div a:hover, .footer-div div span:hover{
    text-decoration: underline;    
}

.footer-div ul {
    display: flex;
    flex-direction: row;
    font-size: 11px;
    line-height: 16px;
    margin: 3px 0;
}

.footer-div ul li {
    padding: 0 24px 4px 0;
    cursor: pointer;
}

.footer-div ul li:hover {
    text-decoration: underline;    
}

.footer-div ul li:nth-of-type(6){
    text-decoration: none;
}

.footer-div ul li:nth-of-type(2) {
    font-weight: bold;
}

.footer-div ul li:nth-of-type(2):hover{
    color: #000;
}

.scrollTopbt {
    cursor: pointer;
    position: absolute;
    right: 1.2%;
    text-align: center;
    background: #D9D9D9;
    padding: 10px 12px;
}

.scrollTopbt:hover {
    background: #f7f7f7;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.scrollTopbt.on {
    cursor: pointer;
    position: fixed;
    bottom: 1.2%;
    right: 1.2%;
    text-align: center;
    background: #D9D9D9;
    padding: 10px 12px;
}