<<<<<<< HEAD
.cursor, .shape {
  display: none;
  }
  

.menu-item,
.menu-open-button {
    width: 50px;
    height: 50px;
    margin: 0;
    top: 2.9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    padding: 20px 25px;
    width: auto;
    font-size: 18px;
}

/* 인트로 */
.menu-open:checked~.menu-item:nth-child(9) {
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-548%, 1%, 0);
}
/* 어바웃 */
.menu-open:checked ~ .menu-item:nth-child(4) {
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(-436%, 1%, 0);
  }
  /* 마크 */
.menu-open:checked ~ .menu-item:nth-child(5) {
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(-324%, 1%, 0);
  }
  /* 항공 */
.menu-open:checked ~ .menu-item:nth-child(6) {
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(-212%, 1%, 0);
  }
  /* 이메일 */
.menu-open:checked ~ .menu-item:nth-child(7) {
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-100%, 1%, 0);
  }

.menu-open:checked ~ .menu-item:nth-child(8) {display: none;}

.menu-item {font-size: 12px;}

#circle-container #circle svg#round {display: none;}

h1 {font-size: 100px;}

.aboutwrap .about {
  width: 450px;
  height: 600px;
  flex-wrap: wrap;
  font-size: 13px;
  padding: 25px;
}

.swiper-slide.about .image {
  width: 370px;
  height: 440px;
}

.swiper-slide.aboutwrap .img {
padding: 20px;
}

.slider {display: none;}

.uiux .left, .uiux .rigth {
    width: 400px;
    height: 650px;
}

.uiux .var {
    width: 3px;
    height: 300px;
}

.uiux_circleL {
  width: 300px;
  height: 300px;
}

.webimg { 
  display: flex;
  width: 350px;
  justify-content: center;
}

.webimg:hover {width: 350px;}

.uiux { gap: 50px;}

.설명 { 
  width: 370px;
  height: auto;
  gap: 30px;
  font-size: 14px;
  padding: 10px;
=======
.cursor, .shape {
  display: none;
  }
  

.menu-item,
.menu-open-button {
    width: 50px;
    height: 50px;
    margin: 0;
    top: 2.9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5 {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    padding: 20px 25px;
    width: auto;
    font-size: 18px;
}

/* 인트로 */
.menu-open:checked~.menu-item:nth-child(9) {
    -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
    transform: translate3d(-548%, 1%, 0);
}
/* 어바웃 */
.menu-open:checked ~ .menu-item:nth-child(4) {
    -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
    transform: translate3d(-436%, 1%, 0);
  }
  /* 마크 */
.menu-open:checked ~ .menu-item:nth-child(5) {
    -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
    transform: translate3d(-324%, 1%, 0);
  }
  /* 항공 */
.menu-open:checked ~ .menu-item:nth-child(6) {
    -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
    transform: translate3d(-212%, 1%, 0);
  }
  /* 이메일 */
.menu-open:checked ~ .menu-item:nth-child(7) {
    -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
    transform: translate3d(-100%, 1%, 0);
  }

.menu-open:checked ~ .menu-item:nth-child(8) {display: none;}

.menu-item {font-size: 12px;}

#circle-container #circle svg#round {display: none;}

h1 {font-size: 100px;}

.aboutwrap .about {
  width: 450px;
  height: 600px;
  flex-wrap: wrap;
  font-size: 13px;
  padding: 25px;
}

.swiper-slide.about .image {
  width: 370px;
  height: 440px;
}

.swiper-slide.aboutwrap .img {
padding: 20px;
}

.slider {display: none;}

.uiux .left, .uiux .rigth {
    width: 400px;
    height: 650px;
}

.uiux .var {
    width: 3px;
    height: 300px;
}

.uiux_circleL {
  width: 300px;
  height: 300px;
}

.webimg { 
  display: flex;
  width: 350px;
  justify-content: center;
}

.webimg:hover {width: 350px;}

.uiux { gap: 50px;}

.설명 { 
  width: 370px;
  height: auto;
  gap: 30px;
  font-size: 14px;
  padding: 10px;
>>>>>>> 4825fc604952e9db9288ce656ffdeaf8a59a8e7a
}