<<<<<<< HEAD
header {
  padding: 0px;
}

.home {
  letter-spacing: 0.05em;
  line-height: 103px;
  padding: 210px 0 210px 0;
}

.frame,
.hambuger {
  width: 70px;
  height: 70px;
  background-color: #3FAF82;
  position: absolute;
  top: 10%;
  left: 89%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  z-index: 1000;
}

.hambuger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.hambuger.on {
  display: none;
}

.line {
  background-color: white;
  height: 4px;
  width: 30px;
  border-radius: 3px;
  transition: 0.4s;
}

.line:nth-of-type(1) {
  animation: example3 0.5s forwards;
}

.line:nth-of-type(2) {
  margin: 7px 0;
}

.line:nth-of-type(3) {
  animation: example4 0.5s forwards;
}

.change .line:nth-of-type(1) {
  animation: example1 0.5s forwards;
}

.change .line:nth-of-type(2) {
  opacity: 0;
}

.change .line:nth-of-type(3) {
  animation: example2 0.5s forwards;
}

@keyframes example1 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(25px) rotate(0);
  }

  100% {
    transform: translateY(13px) rotate(45deg);
  }
}

@keyframes example2 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-25px) rotate(0);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes example3 {
  0% {
    transform: translateY(25px) rotate(45deg);
  }

  50% {
    transform: translateY(25px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes example4 {
  0% {
    transform: translateY(-25px) rotate(135deg);
  }

  50% {
    transform: translateY(-25px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

/*  */
header {
  height: 0;
}

header.scroll .hambuger {
  position: fixed;
  top: 7.5%;
}

header .gnb {
  visibility: hidden;
  position: fixed;
  width: 100%;
  min-width: 0;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  transform: none;
  background: none;
  border: none;
  transition: all 0.5s;
}

.gnb.on {
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 20px;
  z-index: 100;
  margin: 0;
  transition: all 0.5s;
  transform: translate(0%, 0%);
  opacity: 1;
}

.gnb_overlay {
  position: fixed;
  width: 0px;
  height: 0px;
  top:0;
  right: 0;
  transition: all 0.8s;
}

.gnb_overlay.on {
  position: fixed;
  width: 50px;
  height: 50px;
  transform: scale(100);
  border-radius: 100%;
  background: rgba(11, 11, 11, 0.95);
  transition: all 0.8s;
  z-index: 100;
}

.gnb li  {
  opacity: 0;
  position: relative;
  width: auto;
}

.gnb.on li {
  opacity: 1;
}

.gnb li a{
  opacity: 0;
  font-weight: 600;
  font-size: 27px;
  color: #A1A1A1;
  transition: all 0.5s;
}

.gnb.on li a {
  opacity: 1;
  transition: all 0.5s;
}

.gnb li:nth-of-type(2),
.gnb li:nth-of-type(4),
.gnb li:nth-of-type(5) {
  margin: 0;
}

.gnb li:hover {
  background: none;
  transition: all 0.5s;
  color: #F9F9F9;
}

.gnb li:hover a {
  color: #F9F9F9;
}

.gnb li:hover span {
  color: #3FAF82;
  opacity: 1;
}

.gnb li>.back_var {
  position: absolute;
  width: 0;
  left: -5%;
}

.gnb li:hover > .back_var {
  position: absolute;
  width: 108%;
  height: 6px;
  bottom: 17%;
  background: #26B162;
  transition: all 0.3s;
}

.gnb li:nth-of-type(1).on,
.gnb li:nth-of-type(2).on,
.gnb li:nth-of-type(3).on,
.gnb li:nth-of-type(4).on,
.gnb li:nth-of-type(5).on,
.gnb li:nth-of-type(6).on {
    background: none;
}

/* .gnb li:nth-of-type(1).on a,
.gnb li:nth-of-type(2).on a,
.gnb li:nth-of-type(3).on a,
.gnb li:nth-of-type(4).on a,
.gnb li:nth-of-type(5).on a,
.gnb li:nth-of-type(6).on a {
  display: none;
} */

/* 이너 */
.section-inner {
  width: 100%;
  padding: 0 0 0 0;
}


/* about-me */
.aboutme-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me .main-title>h3 {
  width: 100%;
  max-width: 640px;
  /* margin-bottom: 10px; */
}

.about-me .main-title {
  display: flex;
  max-width: 640px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 30px;
  color: #4C4C4C;
  margin-bottom: 50px;
}

.main-title div:nth-of-type(1) {
  order: 2;
}

.main-title div:nth-of-type(2) {
  order: 1;
}

.aboutme-img {
  margin-bottom: 47px;
  max-width: 608px;
}

.aboutme-desc p {
  max-width: 640px;
  letter-spacing: -0.04em;
  word-spacing: 0.01em;
}

.about-content-item-wrap>.about-content-item>div:nth-of-type(2) {
  border: none;
}

.about-content-item>div>span,
.about-content-item>span {
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}

.about-content-item-wrap>.about-content-item:nth-of-type(2) span {
  border-top: none;
}

.about-content-item-wrap>.about-content-item:nth-of-type(1),
.about-content-item-wrap>.about-content-item:nth-of-type(2) {
  flex-direction: column;
  width: 100%;
  height: auto;
  border-top: none;
}

.WhatIdo-wrap,
.Profile-wrap,
.Education-wrap {
  width: 100%;
  max-width: 640px;
  height: 100%;
  min-height: 220px;
  margin: 0 auto;
  padding: 40px 15px;
}

.about-content-item .skill-wrap div {
  display: flex;
  flex-direction: row;
  height: auto;
}

.about-content-item-wrap>.about-content-item:nth-child(2)>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-content-item-wrap>.about-content-item:nth-child(2)>div p {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.skill-wrap>div:nth-child(1),
.skill-wrap>div:nth-child(2),
.skill-wrap>div:nth-child(3) {
  flex: none;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-right: 0;
  border-bottom: 1px solid #DBDBDB;
  padding: 43px 15px;
}

.skill-wrap>div:nth-child(4) {
  flex: none;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-right: 0;
  padding: 43px 15px;
}

.skill-wrap>div:nth-child(1)>span,
.skill-wrap>div:nth-child(2)>span,
.skill-wrap>div:nth-child(3)>span,
.skill-wrap>div:nth-child(4)>span {
  min-width: 60px;
  min-height: 60px;
  margin-bottom: 0;
}


.skill-wrap>div>p {
  margin-left: 15px;
}

.skill-wrap>div>p>span {
  margin: 0;
  margin-bottom: 5px;
}

/* 웹퍼블리싱 */
.webpublishing-content {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.webpublishing-content div:nth-of-type(1) {
  width: 100%;
  max-width: 640px;
}

.webpublishing-content div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
}

.webpublishing-content>div:nth-of-type(2)>div:nth-of-type(1) {
  order: 2;
  margin: 0;
}

.webpublishing-content>div:nth-of-type(2)>div:nth-of-type(2) {
  order: 1;
}

.webpublishing-wrap>p {
  width: 100%;
  max-width: 640px;
}

.webpublishing-desc>p {
  width: 100%;
  max-width: 640px;
  letter-spacing: 0em;
}

.webpublishing-link {
  width: 100%;
  max-width: 640px;
}

.webpublishing-img img {
  margin-bottom: 60px;
}

/* 클론 */
.clonewebsite-content {
  align-items: center;
  flex-direction: column;
}

.clonewebsite-wrap {
  width: 100%;
  max-width: 640px;
}

.clonewebsite-content>div:nth-of-type(1) {
  width: 100%;
  max-width: 640px;
  gap: 60px;
  padding-left: 0;
  padding: 0 15px;
  margin-right: 0;
  margin-bottom: 25px;
}

.clonewebsite-desc p {
  width: 100%;
  max-width: 640px;
  letter-spacing: 0.03em;
}


/* 스터디 */
.study-content {
  width: 100%;
  max-width: 640px;
}

.study-content .main-title {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* 컨텍미 */

.contact-me {
  padding: 100px 30px;
}

.contactme-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

}

.contactme-content .main-title {
  margin: 0;
  height: 55px;
}

.contactme-content div:nth-of-type(1),
.contactme-content div:nth-of-type(2),
.contactme-content div:nth-of-type(3) {
  width: 100%;
  max-width: 640px;
}

.contactme-content div:nth-of-type(3) {
  color: #9B9B9B;
=======
header {
  padding: 0px;
}

.home {
  letter-spacing: 0.05em;
  line-height: 103px;
  padding: 210px 0 210px 0;
}

.frame,
.hambuger {
  width: 70px;
  height: 70px;
  background-color: #3FAF82;
  position: absolute;
  top: 10%;
  left: 89%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  z-index: 1000;
}

.hambuger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.hambuger.on {
  display: none;
}

.line {
  background-color: white;
  height: 4px;
  width: 30px;
  border-radius: 3px;
  transition: 0.4s;
}

.line:nth-of-type(1) {
  animation: example3 0.5s forwards;
}

.line:nth-of-type(2) {
  margin: 7px 0;
}

.line:nth-of-type(3) {
  animation: example4 0.5s forwards;
}

.change .line:nth-of-type(1) {
  animation: example1 0.5s forwards;
}

.change .line:nth-of-type(2) {
  opacity: 0;
}

.change .line:nth-of-type(3) {
  animation: example2 0.5s forwards;
}

@keyframes example1 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(25px) rotate(0);
  }

  100% {
    transform: translateY(13px) rotate(45deg);
  }
}

@keyframes example2 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-25px) rotate(0);
  }

  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes example3 {
  0% {
    transform: translateY(25px) rotate(45deg);
  }

  50% {
    transform: translateY(25px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes example4 {
  0% {
    transform: translateY(-25px) rotate(135deg);
  }

  50% {
    transform: translateY(-25px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

/*  */
header {
  height: 0;
}

header.scroll .hambuger {
  position: fixed;
  top: 7.5%;
}

header .gnb {
  visibility: hidden;
  position: fixed;
  width: 100%;
  min-width: 0;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  transform: none;
  background: none;
  border: none;
  transition: all 0.5s;
}

.gnb.on {
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 20px;
  z-index: 100;
  margin: 0;
  transition: all 0.5s;
  transform: translate(0%, 0%);
  opacity: 1;
}

.gnb_overlay {
  position: fixed;
  width: 0px;
  height: 0px;
  top:0;
  right: 0;
  transition: all 0.8s;
}

.gnb_overlay.on {
  position: fixed;
  width: 50px;
  height: 50px;
  transform: scale(100);
  border-radius: 100%;
  background: rgba(11, 11, 11, 0.95);
  transition: all 0.8s;
  z-index: 100;
}

.gnb li  {
  opacity: 0;
  position: relative;
  width: auto;
}

.gnb.on li {
  opacity: 1;
}

.gnb li a{
  opacity: 0;
  font-weight: 600;
  font-size: 27px;
  color: #A1A1A1;
  transition: all 0.5s;
}

.gnb.on li a {
  opacity: 1;
  transition: all 0.5s;
}

.gnb li:nth-of-type(2),
.gnb li:nth-of-type(4),
.gnb li:nth-of-type(5) {
  margin: 0;
}

.gnb li:hover {
  background: none;
  transition: all 0.5s;
  color: #F9F9F9;
}

.gnb li:hover a {
  color: #F9F9F9;
}

.gnb li:hover span {
  color: #3FAF82;
  opacity: 1;
}

.gnb li>.back_var {
  position: absolute;
  width: 0;
  left: -5%;
}

.gnb li:hover > .back_var {
  position: absolute;
  width: 108%;
  height: 6px;
  bottom: 17%;
  background: #26B162;
  transition: all 0.3s;
}

.gnb li:nth-of-type(1).on,
.gnb li:nth-of-type(2).on,
.gnb li:nth-of-type(3).on,
.gnb li:nth-of-type(4).on,
.gnb li:nth-of-type(5).on,
.gnb li:nth-of-type(6).on {
    background: none;
}

/* .gnb li:nth-of-type(1).on a,
.gnb li:nth-of-type(2).on a,
.gnb li:nth-of-type(3).on a,
.gnb li:nth-of-type(4).on a,
.gnb li:nth-of-type(5).on a,
.gnb li:nth-of-type(6).on a {
  display: none;
} */

/* 이너 */
.section-inner {
  width: 100%;
  padding: 0 0 0 0;
}


/* about-me */
.aboutme-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me .main-title>h3 {
  width: 100%;
  max-width: 640px;
  /* margin-bottom: 10px; */
}

.about-me .main-title {
  display: flex;
  max-width: 640px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 30px;
  color: #4C4C4C;
  margin-bottom: 50px;
}

.main-title div:nth-of-type(1) {
  order: 2;
}

.main-title div:nth-of-type(2) {
  order: 1;
}

.aboutme-img {
  margin-bottom: 47px;
  max-width: 608px;
}

.aboutme-desc p {
  max-width: 640px;
  letter-spacing: -0.04em;
  word-spacing: 0.01em;
}

.about-content-item-wrap>.about-content-item>div:nth-of-type(2) {
  border: none;
}

.about-content-item>div>span,
.about-content-item>span {
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}

.about-content-item-wrap>.about-content-item:nth-of-type(2) span {
  border-top: none;
}

.about-content-item-wrap>.about-content-item:nth-of-type(1),
.about-content-item-wrap>.about-content-item:nth-of-type(2) {
  flex-direction: column;
  width: 100%;
  height: auto;
  border-top: none;
}

.WhatIdo-wrap,
.Profile-wrap,
.Education-wrap {
  width: 100%;
  max-width: 640px;
  height: 100%;
  min-height: 220px;
  margin: 0 auto;
  padding: 40px 15px;
}

.about-content-item .skill-wrap div {
  display: flex;
  flex-direction: row;
  height: auto;
}

.about-content-item-wrap>.about-content-item:nth-child(2)>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-content-item-wrap>.about-content-item:nth-child(2)>div p {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.skill-wrap>div:nth-child(1),
.skill-wrap>div:nth-child(2),
.skill-wrap>div:nth-child(3) {
  flex: none;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-right: 0;
  border-bottom: 1px solid #DBDBDB;
  padding: 43px 15px;
}

.skill-wrap>div:nth-child(4) {
  flex: none;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  border-right: 0;
  padding: 43px 15px;
}

.skill-wrap>div:nth-child(1)>span,
.skill-wrap>div:nth-child(2)>span,
.skill-wrap>div:nth-child(3)>span,
.skill-wrap>div:nth-child(4)>span {
  min-width: 60px;
  min-height: 60px;
  margin-bottom: 0;
}


.skill-wrap>div>p {
  margin-left: 15px;
}

.skill-wrap>div>p>span {
  margin: 0;
  margin-bottom: 5px;
}

/* 웹퍼블리싱 */
.webpublishing-content {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.webpublishing-content div:nth-of-type(1) {
  width: 100%;
  max-width: 640px;
}

.webpublishing-content div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px;
}

.webpublishing-content>div:nth-of-type(2)>div:nth-of-type(1) {
  order: 2;
  margin: 0;
}

.webpublishing-content>div:nth-of-type(2)>div:nth-of-type(2) {
  order: 1;
}

.webpublishing-wrap>p {
  width: 100%;
  max-width: 640px;
}

.webpublishing-desc>p {
  width: 100%;
  max-width: 640px;
  letter-spacing: 0em;
}

.webpublishing-link {
  width: 100%;
  max-width: 640px;
}

.webpublishing-img img {
  margin-bottom: 60px;
}

/* 클론 */
.clonewebsite-content {
  align-items: center;
  flex-direction: column;
}

.clonewebsite-wrap {
  width: 100%;
  max-width: 640px;
}

.clonewebsite-content>div:nth-of-type(1) {
  width: 100%;
  max-width: 640px;
  gap: 60px;
  padding-left: 0;
  padding: 0 15px;
  margin-right: 0;
  margin-bottom: 25px;
}

.clonewebsite-desc p {
  width: 100%;
  max-width: 640px;
  letter-spacing: 0.03em;
}


/* 스터디 */
.study-content {
  width: 100%;
  max-width: 640px;
}

.study-content .main-title {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* 컨텍미 */

.contact-me {
  padding: 100px 30px;
}

.contactme-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

}

.contactme-content .main-title {
  margin: 0;
  height: 55px;
}

.contactme-content div:nth-of-type(1),
.contactme-content div:nth-of-type(2),
.contactme-content div:nth-of-type(3) {
  width: 100%;
  max-width: 640px;
}

.contactme-content div:nth-of-type(3) {
  color: #9B9B9B;
>>>>>>> 4825fc604952e9db9288ce656ffdeaf8a59a8e7a
}