.about-me,
.web-publishing,
.clone-website,
.study,
.contact-me {
    width: 100%;
    padding: 85px 30px;
}

header {
    padding: 0px;
}

header.scroll .hambuger {
    position: fixed;
    top: 6%;
}

.main-title {
    margin-bottom: 175px;
}


.home {
    padding: 250px 0 200px 0;
}

.home h2 {
    font-size: 45px;
    letter-spacing: 0.05em;
    line-height: 49px;
}

.home h5 {
    font-size: 10px;
    line-height: 30px;
}

.single-scroll-down-animation span {
    font-size: 10px;
    height: 10px;
}

/* 어바웃 */
.about-me .main-title>h3 {
    width: 100%;
    font-size: 28px;
    margin-bottom: 35px;
}

.aboutme-desc p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.06em;
}

.Profile-wrap>div>span,
.Education-wrap span {
    font-size: 14px;
}

.Education-wrap div p,
.Profile-wrap div p {
    line-height: 20px;
}

.about-content-item-wrap>.about-content-item:nth-child(2)>div {
    width: 100%;
    max-width: 640px;
    padding-top: 30px;
}

.skill-wrap>div:nth-child(1) {
    padding: 0px 25px 27px;
    width: 100%;
}

.skill-wrap>div:nth-child(2),
.skill-wrap>div:nth-child(3),
.skill-wrap>div:nth-child(4) {
    padding: 30px 25px 27px;
    width: 100%;
}

.skill-wrap>div:nth-child(1)>p,
.skill-wrap>div:nth-child(2)>p {
    letter-spacing: -0.05em
}


.skill-wrap>div:nth-child(1)>span,
.skill-wrap>div:nth-child(2)>span,
.skill-wrap>div:nth-child(3)>span,
.skill-wrap>div:nth-child(4)>span {
    width: 55px;
    height: 55px;
    padding-top: 3px;
}

.skill-wrap>div>p {
    font-size: 13px;
    line-height: 17px;
}

.skill-wrap>div>p>span {
    font-size: 15px;
    margin-bottom: 3px;
}


/*  */

.webpublishing-content div:nth-of-type(1) {
    text-align: start;
    font-size: 28px;
}

.webpublishing-desc>div>span {
    min-width: 157.5px;
    font-size: 26px;
}

.webpublishing-wrap>p {
    width: 100%;
    font-size: 14px;
}

.webpublishing-desc>p {
    width: 100%;
    font-size: 16px;
    letter-spacing: -0.09em;
    line-height: 24px;
    padding: 0 15px 30px 15px;
}

.webpublishing-wrap>p>span {
    font-size: 15px;
}

.webpublishing-link a {
    font-size: 15px;
}

.var {
    margin-bottom: 8px;
}

/*  */
.clonewebsite-content-tab:nth-of-type(1).hover>img,
.clonewebsite-content-tab:nth-of-type(2).hover>img,
.clonewebsite-content-tab:nth-of-type(3).hover>img {
    width: 100%;
    max-width: 564px;
    height: 166px;
    margin-bottom: 25px;
}


.clonewebsite-content-tab {
    padding: 0 15px;
}

.clonewebsite-content>div:nth-of-type(1) {
    padding: 0;
    gap: 50px;
}

.clone-website .main-title {
    text-align: start;
    font-size: 28px;
}

.clonewebsite-desc p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.05em;
    padding: 0 15px;
}

.clonewebsite-content-tab>div {
    width: 100%;
    max-width: 563px;
    padding: 20px 0;
}

.clonewebsite-content-tab>div>p {
    font-size: 24px;
}

.clonewebsite-content-tab>div>p>span {
    font-size: 14px;
    margin-top: 10px;
}

.clonewebsite-content-tab>div>span {
    font-size: 12px;
}

.clonewebsite-content-tab>div>img {
    right: 0px;
}
.box__gallery {
    height: 800px;
    flex-direction: column;
    align-items: center;
}

.study-content>ul>li {
    width: 100%;
    height: 70px;
}

.study-content>ul>li:nth-of-type(1):hover,
.study-content>ul>li:nth-of-type(2):hover,
.study-content>ul>li:nth-of-type(3):hover,
.study-content>ul>li:nth-of-type(4):hover,
.study-content>ul>li:nth-of-type(5):hover,
.study-content>ul>li:nth-of-type(6):hover,
.study-content>ul>li:nth-of-type(7):hover,
.study-content>ul>li:nth-of-type(8):hover {
    width: 100%;
    height: 170px;
    transition: all 0.5s;
    border: 4px solid #26B162;
}

/* 컨텍미 */

.contactme-content div:nth-of-type(1),
.contactme-content div:nth-of-type(2),
.contactme-content div:nth-of-type(3) {
    width: 100%;
}

.contactme-content div:nth-of-type(1) {
    font-size: 28px;
}

.contactme-content div:nth-of-type(2) p {
    font-size: 20px;
    width: 100%;
}

.contactme-content div:nth-of-type(3) p {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    line-height: 23px;
}

.contactme-content div:nth-of-type(3) p,
.contactme-content div:nth-of-type(3) span {
    font-size: 18px;
}